/* RESETER */
/* comment it if you don't want to reset default css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;	padding: 0;	border: 0;	outline: 0;	font-size: 100%; vertical-align: baseline; background: transparent;}
body {line-height: 1;} ol, ul {list-style: none;} blockquote, q {quotes: none;} blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}/* remember to define focus styles! */:focus {outline: 0;}/* remember to highlight inserts somehow! */ins {text-decoration: none;}del {text-decoration: line-through;}/* tables still need 'cellspacing="0"' in the markup */table {border-collapse: collapse; border-spacing: 0;}

body{
	font-family: tahoma,sans-serif,arial;
	color:#454545;
	background-color: #c0d5ea;
}
.wrapper{
	width: 980px;
	margin: 0 auto;
}
.left{
	float: left
}
.right{
	float: right;
}
h2,h3,h4,h5{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	
}
h2{
	font-size: 36px;
	color: #bc3d97;
	margin-bottom: 20px;
}
h3{
	font-size: 30px;
	color:#bc3d97;
	font-weight: 400;
	margin-bottom: 5px;
}
h4{
	font-size: 24px;
	color: #ea8755;
	font-weight: 400;
}
h5{
	font-size: 18px;
	color: #ea8755;
	font-weight: 300;
}
.button{
	padding: 10px 20px;
	color: #bc3d97;
	background-color: #ffffff;
	font-size: 18px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	border: none;
	cursor: pointer;
}
.button:hover{
	opacity: 0.9;
}
.bg-main{
	position: absolute;
	z-index: -999;
	width: 100%;
	min-width: 1024px;
}
/*index page*/
/*header*/
#header{
	padding-top: 20px;
	padding-bottom: 10px;
}
.logo{
	position: absolute;
	z-index: 10;
}
a{
	text-decoration: none;
	color: #3b3b3b;
}
.nav-top{
	margin-top: 50px;
}
.nav-top li{
	float: left;
	margin: 10px 20px;
	display: inline;
	font-size: 30px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
.nav-top a:hover{
	color: #ea8755;
}
.white-trans{
	background: rgb(253, 253, 253); /* The Fallback */
  background: rgba(253, 253, 253, 0.5); 
}
.orange-trans{
	background: rgb(234, 135, 85); /* The Fallback */
  background: rgba(234, 135, 85, 0.8); 	
}
.orange-line{
	background: rgb(234, 135, 85); /* The Fallback */
  background: rgba(234, 135, 85, 0.8);
  height: 15px;
  width: 980px;
  margin: 0 auto;
}
.orange{
	color: #ea8755;
}
.maron{
	color: #bc3d97;
}
.blue{
	color: #2995d8;
}
.bg-maron{
	background-color: #bc3d97!important;
	color: #ffffff!important;
	font-family: tahoma,arial,sans-serif;
	font-size: 12px;
}
.red{
	color: #f16648;
}
.white{
	color: #ffffff;
}
.italic{
	font-style: italic;
}
.radius{
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-khtml-border-radius: 10px;
}
/*slider*/
.slider{
	margin-bottom: 10px;
}
/*content*/
#content{
	background-color: #ffffff;
	border-top: 2px solid #bc3d97;
	line-height: 1.5em;
}
#content p{
	font-size: 14px;
}
.main{
	margin-top: 50px;
	padding-bottom:55px;
	position: relative;
}
.wrapper-title{
	margin: 0 5px;
}
.title{
	border-bottom: 3px solid #da9fc9;
	margin-bottom: 5px;
}
.welcome{
	padding-bottom: 20px;
}
.box{
	margin-bottom: 50px;
}
.box img{
	margin-bottom: 10px;
}
.call-wrapp{
	text-align: center;
	background: url("../images/bg-phone.png")no-repeat;
	height: 260px;
}
.call p{
	color: #ffffff;
}
.call{
	position: absolute;
	margin-top: 30px;
	margin-left: 65px;
	line-height: 1em;
}
.klik{
	margin-top: 20px;
}
.phone{
	margin: 20px; 
	color: #454545!important;
	font-size: 32px!important;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
/*footer*/
#footer{
	background: url("../images/bg-footer.png");
  
  padding:20px 0 ;
}
.left-foo ul{
	margin-bottom: 10px;
}
.left-foo li{
	float: left;
	display: inline;
	border-right: 1px solid #da9fc9;
	padding: 0 10px;
}
.left-foo{
	line-height: 1.5em;
	font-size: 14px;
}
.left-foo p{
	margin-bottom: 10px;
}
.left-foo a{	
	color: #da9fc9;
}
.a-first{
	padding-left: 0!important;
}
.a-last{
	padding-right: 0!important;
	border-right: none!important;
}
.main-footer{
	color: #ffffff;
	font-size: 12px;
}
.ym{
	margin-right: 10px;
}
.right-foo{
	margin-right:53px;
}
.right-foo p{
	font-size: 24px;
	color: #ffffff;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	margin-bottom: 10px;
}
.flower1{
	position: absolute;
	margin-top: -165px;
	margin-left: -152px;
	z-index: 9;

}
.flower2{
	position: absolute;
	margin-left: 875px;
	margin-top: -155px
}
/*product page*/
#product h2,h4{
	font-weight: 300;
}
.left-menu{
	line-height: 2em;
	margin-top: 50px;
}
.left-menu h4{
	margin-bottom: 10px;
}
.left-menu a{
	color: #ea8755;
	font-size: 16px;
}
.left-menu li{
	background: url("../images/small-flower.png")left center no-repeat;
	padding-left: 25px;
}
.right-product img{
	margin-bottom: 10px;
}
.right-product h4{
	color: #bc3d97!important;
	margin-bottom: 15px;
}
.right-product h5{
	margin: 0 5px;
	border-top:2px solid #ea8755;
	color: #ea8755;
}
.gallery-wrapper{
	margin-top: 10px;
}
.pict-wrapp{
	margin-bottom: 20px;
}
.menu{
	position: absolute;
}
/*contact page*/
.left-contact p{
	margin-bottom: 20px;
}
#map{
	height: 380px;
	width: 100%;
	margin-bottom: 20px;
}
.line{
	margin-bottom: 10px;
}
.line label{
	width: 150px;
	float: left;
}
.line p{
	margin: 0 10px;
	float: left;
}
.line input[type="text"],textarea{
	background-color: #f8f8f8;
	padding: 5px;
	font-size: 14px;
	color:#454545;
	font-family: tahoma,arial.sans-serif;
	border: 1px solid #cecece;
	width: 400px;
}
textarea{
	resize:none;
	height: 100px;
}
.submit{
	margin-right:30px;
}
.line input[type="text"]:focus,textarea:focus{
	border: 1px solid #bc3d97;
}
h3 #successmessage{text-align:center;background:#509A51;color:#fff;padding:10px;}
h3 #errormessage{text-align:center;background:#FF0000;color:#fff;padding:10px;}
.location{
	text-align: right;
	margin-bottom: 10px;
	margin-top: 20px;
}
.telepon .type{
	width: 75px;
}
.telepon .num{
	width: 220px;
	text-align: right;
}


/*-6.95424,110.395973*/