/* RESETER */
/* comment it if you don't want to reset default css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;	padding: 0;	border: 0;	outline: 0;	font-size: 100%; vertical-align: baseline; background: transparent;}
body {line-height: 1;} ol, ul {list-style: none;} blockquote, q {quotes: none;} blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}/* remember to define focus styles! */:focus {outline: 0;}/* remember to highlight inserts somehow! */ins {text-decoration: none;}del {text-decoration: line-through;}/* tables still need 'cellspacing="0"' in the markup */table {border-collapse: collapse; border-spacing: 0;}

/*call font*/

@font-face {
		font-family: 'URWGroteskE-LighCond_0';
		src: url('../style/urwgroteskeligcon_0.eot');
		src: url('../style/urwgroteskeligcon_0.eot?#iefix') format('embedded-opentype'),
				 url('../style/urwgroteskeligcon_0.woff') format('woff'),
				 url('../style/urwgroteskeligcon_0.ttf') format('truetype'),
				 url('../style/urwgroteskeligcon_0.svg#urwgroteskeligcon0') format('svg');
		font-weight: normal;
		font-style: normal;
}

/*index page*/
body{
	color: #666666;
	font-size: 14px;
	font-family: Tahoma,arial,sans-serif;
}
.left{
	float: left;
}
.right{
	float: right;
}
h2{
	font-size: 60px;
	font-weight: normal;
	margin-bottom: 15px;
	color: #454545;
}
h3{
	font-size: 36px;
	font-weight: normal;
	margin-bottom: 15px;
	color: #db2e2e;
	font-weight: bold;
}
h4{
	font-size: 30px;
	
	font-weight: normal;
	margin-bottom: 15px;
	color: #db2e2e;
}
.font-bold{
	font-weight: bold;
}
.p72{
	font-size: 72px;
	
	font-weight: normal;
	margin-bottom: 10px;
	color: #db2e2e;
}
h2,h3,h4,.p72,.font48{
	font-family: 'URWGroteskE-LighCond_0',arial,sans-serif;
}
.font48{
	font-size: 48px;
	color: #454545;
}
.font18{
	font-size: 18px;
}
.font12{
	font-size: 12px;
}
.italic{
	font-style: italic;
}
p{
	line-height: 1.5em;
}
a{
	text-decoration: none;
}
.title{
	
}
.button{
	padding: 5px 50px 5px 20px;
	background-color: #db2e2e;
	color: #ffffff;
	font-size: 30px;
	border-radius:15px;
	font-family: 'URWGroteskE-LighCond_0',arial,sans-serif;
	-moz-border-radius:15px;
	-o-border-radius:15px;
	-webkit-border-radius:15px;
	-khtml-border-radius:15px;
	background: #db2e2e url("../images/arrow.png")no-repeat 170px center;
	cursor: pointer;
	border: none;
}
.button:hover{
	opacity: 0.9;
	transition: 1s;
	-webkit-transition: 1s;
	-o-transition: 1s;
	-moz-transition: 1s;
}
.red{
	color: #db2e2e;
	/*font-weight: bold;*/
}
.black-line{
	background: url("../images/bg-top.jpg");
	height: 30px;
	width: 100%;
	min-width: 100%;
	border-bottom: 1px solid #ffffff;
	box-shadow: 0 0px 20px #888888;
	position: absolute;
	z-index: 1;
}
.offset-wrapp{
	width:1360px; 
	margin:0 auto;
}
/*header*/
.header-wrap,#contact-wrapp{
	background: url("../images/bg-head.jpg");
}
#header{
	padding-top: 60px
}
#special{
	padding: 10px 0;
}
#why{
	padding-top: 30px;
}
.logo{
	margin-bottom: 10px;
}
.motto{
	width: 425px;
}
.bottom-line{
	border-bottom: 2px solid #c7c7c7;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.img-top{
	position: absolute;
	margin-top: -28px;
	margin-left: 450px;
}
.special-wrapp{
	border-bottom: 1px solid #999999;
}
.why-wrapper{
	border-top: 1px solid #ffffff;
}
.button-wrapp{
	margin: 25px 0;
}
#why-wrapper{
	background-color: #f5f5f5;
	color: #2e2e2e;
}
#why li{
	margin-bottom: 20px;
}
.circle{
	border-radius:50px;
	-moz-border-radius:50px;
	-o-border-radius:50px;
	-webkit-border-radius:50px;
	-khtml-border-radius:50px;
	height: 60px;
	width: 60px;
	background: #c4c4c4;
	margin-right: 20px;
	margin-top: 15px;
	text-align: center;
	line-height: 1.5em;
	font-size: 30px;
	color: #ffffff;
}
.circle p{
	margin-top: 5px;
}
.why-text{
	margin-left: 80px;
}
.img2{
	position: absolute;
	margin-left: -70px;
	margin-top: 60px;
}

#contact-form input[type="text"],textarea{
	font-family: Tahoma,arial,sans-serif;
	font-size: 18px;
	padding: 5px 0 5px 20px;
	border-radius: 5px;
	border: 1px solid #b7b7b7;
	width: 300px;
	line-height: 1.5em;
	font-style: italic;
	font-weight: normal;
}
#contact-form input[type="text"]:focus,textarea:focus{
	border: 1px solid #db2e2e;
}
#contact-form textarea{
	height: 145px;
	resize:none;
}
#contact-form li{
	margin-bottom: 20px;
}
#contact{
	/*padding:50px 0 10px 0;*/
}
/*footer begin*/
#foo-wrapp{
	background: url("../images/bg-footer");
}
#footer{
	padding: 10px 0;
}
#footer p{
	font-size: 12px;
}
#map{
	height: 689px;
	width: 734px;
	position: absolute!important;
	
}
.inform{
	
	text-align: right;
	position: absolute;
	color: #454545;
	/*height:690px;*/
	margin-top: -50px;
	width: 280px;
	z-index: 1;
}
.call{
	margin-top: 110px;
}
.call h4{
	margin:0;
}
.up{
	margin-bottom: 20px;
}
.chat{
	text-align: left!important;
	margin-top: 15px;
}
.chat h4{
	margin-bottom: 15px;
}
.contact-w{
	height: 689px;
	overflow: hidden;
}
.coo{
	/*background: url("../images/contact-bg.png")no-repeat;*/
	width: 754px;
	height: 689px;
	position: absolute;
	z-index: 99;
	overflow: hidden;
}
.form-con{
	padding-top: 40px;
}
.chat li{
	margin-bottom: 10px;
}
.y-name{
	width: 80px;
}
h3 #successmessage{text-align: center;background: #509A51;color: #fff;padding: 10px;}
h3 #errormessage{text-align: center;background: #FF0000;color: #fff;padding: 10px;}